{{ with .Get "table" }}
  {{ if eq . "tableKomponen" }}
    <table>
      <thead>
        <tr>
          <th>Jenis</th>
          <th>Harga (Rp)</th>
          <th>Aplikasi</th>
        </tr>
      </thead>
      <tbody>
        {{ range $.Site.Params.tabelItemsKomponen }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .price }}</td>
          <td>{{ index $.Site.Params.appliListKomponen .name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else if eq . "tableSewa" }}
    <table>
      <thead>
        <tr>
          <th>Jenis</th>
          <th>Harga (Rp)</th>
          <th>Kegunaan Utama</th>
        </tr>
      </thead>
      <tbody>
        {{ range $.Site.Params.tabelItemsSewa }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .price }}</td>
          <td>{{ index $.Site.Params.kegunaanListSewa .name }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>Invalid table selection.</p>
  {{ end }}
{{ end }}

<p class="price-info">
  Harga tertera sudah termasuk biaya pengiriman dan penurunan dengan minimal tertentu. Harga sewaktu-waktu bisa berubah, hubungi kami untuk informasi harga terbaru.
</p>